# Terraform-related files
.terraform/
.terraform.lock.hcl

# Local environment files
*.tfstate
*.tfstate.backup
*.tfvars

# Crash logs
crash.log

# IDE/editor files
.vscode/
.idea/


# Sensitive output files (optional)
*.pem
*.key
